{{ $id := now.UnixNano }}
<div class="row g-3 py-5" id="lightgallery-{{ $id }}">
  {{ range . }}
    {{ $image := resources.Get . }}
    <a class="col-12 col-md-6 col-lg-4" href="{{ $image.Permalink }}" data-lg-size="{{ ( printf "%d-%d" $image.Width $image.Height ) }}">
      <div class="ratio ratio-1x1">
        {{ $thumbnail := $image.Fit "640x480" }}
        <img class="img-fluid rounded img-cover" alt="{{ $thumbnail.Title }}" src="{{ $thumbnail.Permalink }}" />
      </div>
    </a>
  {{ end }}
</div>
<script type="text/javascript">
  lightGallery(document.getElementById('lightgallery-{{ $id }}'), {
    selector: 'a',
    speed: 500,
  });
</script>
